.btn {
  padding: 16px 24px;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  transition: color $t-std, border $t-std, background-color $t-std;
  align-self: center;

  @include flex($jc: center);
  @include font($fs: 14px, $lh: 140%, $fw: 500);

  @include hover {
    cursor: pointer;
  }

  @include media-lg {
    max-width: 190px;
    margin: 0;
  }

  &--yellow {
    background: $c-brand;
    color: $c-text;
    border: 1px solid $c-brand;
  }

  &--black {
    color: $c-brand;
    background: transparent;
    border: 1px solid $c-brand;
  }

  &__img {
    margin-left: 17px;
    margin-top: -1px;
  }
}